html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #232120;*/
    background-color: #f1eee4;
    text-align: center;
}

/*
    "Wish List"
*/
.header {
    /*color: #ddd6cd;*/
    /*color: #58c2be;*/
    color: #69563d;
    font-weight: 900;
    font-size: 5em;
    padding: .2em;
}

/*
    "DUNG"
*/
.name {
    /*color: #37913d;*/
    /*color: #63c269;*/
    color: #d49746;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.item {
    flex: 20%;
    max-width: 20%;
    position: relative;
}

.item img {
    vertical-align: middle;
    width: 100%;
}

.item .desc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*color: #333333;*/
    color: #eee9da;
    font-size: 1.1em;
    font-weight: 200;
    text-align: left;
    background: #FFFFFF;
}

.hover_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
}

/*
    Text
*/
.label {
    color: #656565;
    font-weight: 300;
    position: absolute;
    text-align: center; 
    top: .3em;
    width: 100%;
    font-size: 1.5em;
    margin: 0;
}

/*
    Price
*/
.label_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
}
.price {
    /*background-color: #ee712a;*/
    background-color: #4b88ab;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hearts {
    margin: 0;
    color: #4b88ab;
}

.hover_wrapper:hover{
    opacity: 1;
}

/*
    Section
*/
.divider {
    font-size: 30pt;
    background-color: #41403c;
    font-weight: 600;
    text-align: left;
    padding: 0.5em;
    color: #fbe34d;
}


@media screen {
    .label{
        font-size: 1.2em;
    }
    
    .label_bottom {
        font-size: 40px;
    }    
    .price {
        font-size: 2.5vw;
    }
    .hearts {
        font-size: 1vw;
    }
}

@media screen and (max-width: 1200px) {
    .item {
        flex: 25%;
        max-width: 25%;
    }
    .price {
        font-size: 4vw;
    }
    .hearts {
        font-size: 2vw;
    }
}

@media screen and (max-width: 800px) {
    .item {
        flex: 50%;
        max-width: 50%;
    }
    .price {
        font-size: 7vw;
    }
    .hearts {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    .label {
        font-size: 2em;
    }
    .item {
        flex: 100%;
        max-width: 100%;
    }
    .price {
        font-size: 10vw;
    }
    .hearts {
        font-size: 6vw;
    }
}

